
.card-deck{
  display: flex;
  padding: 50px;
  overflow: scroll;
}
.cartas{
  min-width: 70vw;
}
h1{
  text-align: center;
  color: aliceblue;
}
h3{
  text-align: center;
  color: aliceblue;
}
.card{
  margin: 30px;
  box-shadow: 3px 3px 15px  rgb(146, 203, 146);
  background-color: rgba(0, 0, 0, 0);

}
.card-img-top{
  width: 300px;
  height: 250px;
}
.card-body{
  background-color: rgba(0, 0, 0, 0.861);
  color: aliceblue;

}
.card-footer{
  background-color: rgba(0, 0, 0, 0.487);
  display: flex;
}
button{
  background-color: rgba(0, 0, 0, 0.509);
  margin: 10px;
  color: aliceblue;
}
.carrito{
  min-width: 30vw;
  color: aliceblue;
}
.cartas{
  display: flex;
  overflow: scroll;
}
.form-label{
  color: aliceblue;
}
.form{
  padding:60px
}





