  <div>
    <h1>
    LISTA DE PRODUCTOS
  </h1>
  <button class="btn btn-primary  btn-block mb-4"(click)="updateredirect()">Crear Producto</button>
  </div>

  <div class="card-deck" *ngIf="productos.length > 0" >
    <div class="" *ngFor="let producto of productos">
      <div class="card">
        <img class="card-img-top" src="https://wallpapers.com/images/hd/basic-pokeball-logo-l2nlbpz674dybbce.jpg" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">{{this.producto.name}} </h5>
          <p class="card-text">Id: {{this.producto.idproducts}}</p>
          <p class="card-text">Unidades en stock: {{this.producto.inventory}} unid</p>
          <p class="card-text">disponibilidad: {{this.producto.enabled}} </p>
          <p class="card-text">Cantidad minima de compra: {{this.producto.min}} unid</p>
          <p class="card-text">cantidad maxima de compra: {{this.producto.max}} unid</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary  btn-block mb-4" (click)="updateredirect()">modificar</button>
          <button class="btn btn-primary  btn-block mb-4" (click)="agregarProductoCarro(this.producto.name)"> + carrito</button>
        </div>
      </div>
    </div>
</div>
<div  class="contreg">
  <div class="contenido">
    <div class="carrito">
      <h1>Carrito de compras</h1>
      <div class="cartas" *ngIf="products">
        <div *ngFor="let products of products">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Nombre del producto: {{products.productName}} </h5>
                <p class="card-text">Cantidad : {{products.quantity}}</p>
                <button (click)=" quitarProductoCarrito(this.products.productName)" class="btn btn-secondary {{products.productName}}">eliminar</button>
            </div>
          </div>
      </div>
    </div>

    </div>
  </div>
</div>



<div class="form">
  <h3>
    Datos Necesarios para finalizar la compra:
  </h3>
  <div class="form-outline mb-4">
    <label class="form-label" for="form5Example1">Numero de ID </label>
    <input type="" id="form5Example2" class="form-control " [(ngModel)]="id "
       />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form5Example2">Tipo de ID</label>
    <input type="string" id="form5Example2" class="form-control " [(ngModel)]="idtype "  />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form5Example2">Nombre del cliente</label>
    <input type="string" id="form5Example2" class="form-control " [(ngModel)]="clientName "   />
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4" (click)="crearVenta()">
    Comprar
  </button>
  <button type="submit" class="btn btn-primary btn-block mb-4" (click)="historial()">
    Historial de compras
  </button>
</div>





