
.card-deck{
  display: flex;
  padding: 50px;

}
.card{
  margin: 30px;
}
.card-img-top{
  width: 300px;
  height: 250px;
}
.card-body{
  background-color: rgba(0, 0, 0, 0.861);
  color: aliceblue;
}
.card-footer{
  background-color: rgba(0, 0, 0, 0.487);
  display: flex;
}
button{
  margin: 10px;
}
